.education-item {
  height: 360px;
  align-content: center;

  background-color: var(--white);
  padding: 25px;
  border: solid var(--white) 3px;
  border-radius: 3px;
  margin: 15px;
}

.education-item #img {
  max-height: 250px;
}

.text {
  font-size: 20px;
  margin-top: 15px;
}

.no-wrap {
  flex-wrap: nowrap;
}
