<app-navbar></app-navbar>
<h1 id="title">Portfolio</h1>
<ul id="portfolio-gallery">
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
  <li class="portfolio-item">
    <img id="img" />
  </li>
</ul>
